*{
  font-family: 'Exo', sans-serif;
  color: #2f4f4f;
}

main{

}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  margin: 10px;
}

body{
  background-image: url("https://pre00.deviantart.net/29a8/th/pre/f/2016/311/6/1/pokemon_twitch_theme_gif_by_masterq2-danm4kn.png");
  background-repeat:no-repeat;
}

select{
  margin: 20px;
  font-size: 22px;


}

img{
  margin: 20px;
  border:1px solid #021a40;
  border-radius: 20px;
  width:300px;
  float: left;
  clear:both;
}

p {
  margin-left: 0px;
  overflow:auto;
  display:block;
}

#pAppear{
  margin: 25px;
}

button{
  margin: 30px;
  width: 150px;
  height: 75px;
  display: block;
}

/*#btn-home{
  width: 100px;
  height: 30px;
  display: block;
  margin-left: 350px;
  margin-top: 70px;

}*/

#play{
  border: none;
  width: 150px;
  float:right;
}

#pokemonIdType{
  background: #ffffcc;
  width: 200px;
  margin-left: 535px;
  padding-left: 4px;
}

#pokemonHeightWeight{
  background: #ADD8E6;
  width: 200px;
  margin-left: 535px;
  padding-left: 4px;
}

#pokemonCaught{
  margin: 100px;
  font-size: 40px;
}
